.scoreboardDiv {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.matchDiv {
    padding: 10px;
    margin-top: .5%;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    width: 32%;
}

.cardBgrColor{
    background-color:  rgba(100, 100, 100, 0.74);
    color: white;
}

.matchName {
    margin-bottom: 0;
    font-size: 16px;
}


.matchInfo {
    margin-bottom: 0;
    font-size: 12px;
}